@model CartViewModel

    <div class="Product">
    
        @Model.cart_id
    
        <br> 

        <br>  
        <div class="PriceAndButton">

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m=> m.Id)
        <button type="submit"> Remove from cart!</button>
      
    }
        </div>
    </div>