@model List<Webshop.Models.CartViewModel>
@{
    ViewData["Title"] = "Products";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="products">

@foreach(var product in Model)
{
    <div class="single-product">
        <h2 class="product-name">@(Model.name)</h2> 
        <div class="price-cart">
            <p>@(Model.price) $</p> 
        </div>
    </div>

    
}
</div>