@model CartViewModel
@{
    ViewData["Title"] = "Products";
}


<div class="Products">
   
    <img class="CartImage" src="~/images/@Model.Image" alt="@Model.Name" />   

@Model.Name
@Model.price :-

   
@using (Html.BeginForm())
    {
        @Html.HiddenFor(m=> m.product_id)
         <a href="/cart/add/@(Model.product_id)"><button>Remove From Cart</button></a>
      
    }
</div>