@model List<Webshop.Models.CartViewModel>
@{
    ViewData["Title"] = "Cart";
}
<h2>@ViewData["Title"]</h2>
@foreach (var product in Model)
{
    Html.RenderPartial("Cart", product);
}
    <br>
        <a type="button" class="col-md-6 p-0 btn btn-lg btn-block btn-primary" href="/checkout" style="padding-left: 0px">Proceed to Checkout</a>
    <br>
  
