@model List<Webshop.Models.OrderViewModel>
@{
    ViewData["Title"] = "Order";
}
<h2>@ViewData["Title"]</h2>
<h3>Thank You for Shopping</h3>

  <div  class="ShopPage">
   @foreach(var products in Model)
    {
        Html.RenderPartial("Order", products);
   
    }
  </div>

  
