@model Webshop.Project.Core.Models.OrderModel
@{
    ViewData["Title"] = "Order";
}

<h3>Thank You for ordering</h3>

  <div  class="OrderPage">
    <div>
    @Model.user_name
    <br>
    @Model.Phone
    <br> 
    @Model.Adress
    <br>
    @Model.Email
    </div>
  </div>

  
