@model List<Webshop.Models.CheckoutViewModel>
@{
    ViewData["Title"] = "Checkout";
}
<h2>@ViewData["Title"]</h2>
@foreach(var product in Model)
{
    <li>@(product.name) - @(product.price) :-
        <br>
    </li>
}
@using (Html.BeginForm()){
  <label class="form-group" for="name">Email</label>
      <input class = "form-control" type="text" name="name" value="" required >
      <br>
    <label class="form-group" for="address">Address</label>
      <input class = "form-control"  type="text" name="address" value="" required >
      <br>
     <label class="form-group" for="creditcard">Phone</label>
      <input class = "form-control" type="number" name="creditcard" value="" required >
      <br>
    <button type="submit">Pay</button>
    }